<div class="footer">
    <footer class="section-p1">
        <div class="col">
            <h4><strong>SIGA-NOS</strong></h4>
            <div class="follow">
                <div class="icon">
                    <img src="/img/icons8-facebook (1).svg">
                    <img src="/img/icons8-twitter (1).svg">
                    <img src="/img/icons8-instagram (1).svg">
                    <img src="/img/icons8-pinterest.svg">
                </div>
            </div>
        </div>

        <div class="col" class="dada">
            <h4 class="dadada"><strong>SOBRE</strong></h4>
            <a href="#">Sobre Nós</a>
            <a href="#">Políticas de Privacidade </a>
            <a href="#">Política de Troca e Devoluções</a>
            <a href="#">Entre em contato</a>
        </div>

        <div class="col">
            <h4><strong>MINHA CONTA</strong></h4>
            <a href="#">Sign In</a>
            <a href="#">Ver Carrinho</a>
            <a href="#">Meus Favoritos</a>
            <a href="#">Ver Meu Pedido</a>
            <a href="#">Ajuda</a>
        </div>

        <div class="col">
            <h4><strong>Horário de Atendimento</strong></h4>
            <a href="#">Seg. a Sex. das 9:00 às 18:00.</a>
            <a href="#"><strong>WhatsApp:</strong> (12)99999-9999</a>
            <a href="#" id="emailWave"><strong>Email:</strong>SportWave@gmail.com</a>
        </div>

        <div class="copyright">
            <p>© SportWave | CNPJ: 99.999.999/001-01 | Endereço: Av. Bahia, 1739 - Indaiá, Caraguatatuba -
                SP, 11665-071
                | Todos os direitos reservados.</p>
        </div>
    </footer>
</div>