<header>
    <section id="header">
        <a href="/" id="LOGO">
            <img id="logo-sportwave" src="/img/logo-sportwave.png" alt="">
        </a>

        <form id="pesquisar" action="#">
            <input type="text" id="search" placeholder="o que você procura?">
        </form>


        <div id="icons">
            <ul class="icons">
                <li><a href="#"><img class="profile" src="/img/user-solid.svg" alt=""></a>
                </li>
                <li><a href="#"><img class="cart"
                            src="/img/cart-shopping-solid.svg" alt="cart"></a></li>
                <li><a href="#"><img class="heart" src="/img/heart-solid.svg"
                            alt=""></a></li>
            </ul>
        </div>
    </section>
</header>