<nav>
    <section id="navbar">
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="navbar nav-list">
            <li><a class="active" href="/">Início</a></li>
            <li><a href="/categoria/roupas">Roupas</a></li>
            <li><a href="/categoria/acessorios">Acessórios</a></li>
            <li><a href="/esporte/beach-tennis">Beach Tennis</a></li>
            <li><a href="/esporte/volei-de-praia">Vôlei de Praia</a></li>
            <li><a href="/esporte/surf">Surf</a></li>
        </ul>
    </section>
</nav>