<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportWave</title>
</head>
<body>

    <ul>
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/categoria/roupas">Roupas</a></li>
        <li><a href="/categoria/acessorios">Acessórios</a></li>
        <li><a href="/esporte/surf">Surf</a></li>
        <li><a href="/esporte/beach-tennis">Beach Tennis</a></li>
        <li><a href="/esporte/volei-de-praia">Roupas</a></li>
    </ul>
    
    <%- body %>

</body>
</html>