@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat&display=swap');

* {
  font-family: 'League Spartan', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  font-family: 'League Spartan';
  overflow-x: hidden;
  /* max-width: 2000px; */
  margin: 0 auto;
  width: 100%;
  height: auto;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  gap: 10rem;
}

#search {
  padding-left: 20px;
  height: 61px;
  padding-bottom: -19px;
  width: 68%;
  font-size: 16px;
  border-radius: 10px;
  border-color: #32D0F2;
  border-style: solid;
  flex-shrink: 0;
  margin-bottom: -16px;
}

#pesquisar {
  min-width: 74%;
  text-align: center;
  display: flex;
  margin-left: 80px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}


.profile {
  height: 36px;
  width: 36px;
}

.cart {
  height: 36px;
  width: 36px;
}

.heart {
  height: 35px;
  width: 35px;
}



.banner>img {
  width: 100%;
}

.wrapper {
  position: relative;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  background-color: #ffffff;
  display: flex;
  max-width: 2000px;
  justify-content: center;
}


#header {
  display: flex;
  align-items: center;
  padding: 0px 65px;
  background-color: #ffffff;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  max-width: 2000px;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #000000;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0 10%; */
  text-align: center;
  background-color: #000000;
  height: 50px;
  max-width: 2000px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 7%;
  text-align: center;
  /* background-color: #000000; */
  height: 5px;
  width: 93vw;
  max-width: 2000px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

#navbar li {
  list-style: none;
  padding: 0 10px;
  position: relative;
  flex-shrink: 0;
}

#navbar li a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #32D0F2;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #32D0F2;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-top: 4px;
  padding-left: 0px;
  padding-right: 4.5rem;
  gap: 18%;
  width: 20vw;
  height: 55px;
  max-width: 280px;
  flex-shrink: 1;
}


#feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 5%;
  padding-top: 3px;
}

#feature .fe-box>img {
  width: 230px;
  height: 210px;
  display: block;
}

.fe-box {
  border-bottom: 3px solid #32D0F2;

  border-top: 3px solid #32D0F2;
  /* padding-top: 1%; */
  padding: 20px 20px;
  margin: 0 10px;
  margin-top: 20px;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}


.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  gap: 0.1px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.container-fluid {
  padding: 0px;
  width: 100vw;
  max-width: 2400px;
}

/* Home Page */

#feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 5%;
  padding-top: 3px;
}

#feature .fe-box>img {
  width: 230px;
  height: 210px;
  display: block;
}

.fe-box {
  border-bottom: 3px solid #32D0F2;

  border-top: 3px solid #32D0F2;
  /* padding-top: 1%; */
  padding: 20px 20px;
  margin: 0 10px;
  margin-top: 20px;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

.botao1 {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 25%;
  margin-bottom: 20px;
  transition-duration: 0.4s;
  background-color: #32D0F2;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 24px;
  color: #222;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  align-items: center;
  display: flex;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font-family: 'League Spartan';
  /* background-color: #1a1a1a; */
}

p {
  font-family: 'League Spartan';

}

h3 {
  font-family: 'League Spartan';

}

.text-destaques {
  border-top: 1px solid #32D0F2;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  max-width: 2000px;
  font-size: 40px;
  height: 90px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #212121;
  justify-content: center;
}

.category {
  margin-top: 33px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;

  align-items: center;
  display: flex;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

.wrapper {
  max-width: 80vw;
  max-width: 2000px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
  max-width: 100%;
}

.grid-container img {
  flex-basis: 25%;
  padding-bottom: 25%;
  object-fit: cover;
  max-width: 200px;
  max-height: 150px;
  justify-content: center;
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid black;
  padding-bottom: 1px;
  padding-top: 4px;
  margin-top: 180px;
}

.imgroupas {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  justify-items: center;
}

.product-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  max-width: 400px;
}

.product-item img {
  max-width: 65%;
  max-height: 100%;
  width: 65%;
  height: auto;
  display: flex;
  border: 1px solid lightgray;
  padding: 20px;
}


.product-item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  flex-shrink: 0;
  font-size: 25px;
  text-align: left;
  align-self: flex-start;
  max-width: 300px;
  padding-left: 17%;
}

.product-item p {
  font-weight: bold;
  flex-shrink: 0;
  text-align: left;
  font-size: 30px;
  align-self: flex-start;
  padding-left: 17%;
  display: inline-block;
  font-family: 'League Spartan';
}


.subtitle {

  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: flex-end;
  padding-left: 90px;
  margin-top: 60px;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 40px;
  color: #222;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  align-items: center;
  display: flex;
  padding-top: 5px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

#subtitulo {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: flex-end;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


@media (max-width: 657px) {
  .product-grid {
    justify-content: center;
  }

  #header {
    display: flex;
    flex-shrink: 1;
    /* flex-direction: column; */
  }

  #logo-sportwave {
    margin-left: 0;


    height: 80px;
    max-width: 250px;
    min-width: 10px;
    width: 100px !important;
    height: auto;
    width: 2vw;
    /* margin-right: rem; */
  }

  .profile {
    height: 20px;
    width: 20px;
    /* margin-left: 30px; */
    /* margin-right: 7rem; */
  }

  .cart {
    height: 20px;
    width: 20px;
    /* margin-right: 60px; */
  }

  .heart {
    height: 19px;
    width: 19px;
    /* margin-right: 60px; */
  }

  .icons {
    align-items: center;
  }

  .titleroupas {
    width: auto;
    padding: 0;
    margin: 0%;
    /* display: flex; */
    justify-content: center;
  }

  .subtitle {
    /* width: 100vh; */
    width: 100%;
    padding: 0;
    margin: 0%;
    /* JA É DISPLAY FLEX */
    justify-content: center;
  }
}



@media (max-width: 470px) {
  .product-grid {
    justify-content: center;
  }

  .titleroupas {
    width: auto;
    padding: 0;
    margin: 0%;
    /* display: flex; */
    justify-content: center;
  }

  .subtitle {
    /* width: 100vh; */
    width: 100%;
    padding: 0;
    margin: 0%;
    /* JA É DISPLAY FLEX */
    justify-content: center;
  }
}


svg {
  position: relative;
  height: 3em;
  width: auto;
  align-self: flex-end;
  padding-right: 16%;
  bottom: 65px;
}



@media (max-width:1000px) {
  #pesquisar {
    width: 100%;
    text-align: center;
    order: 1;
  }

  #logo-sportwave {
    margin-left: 0px;
  }

  #icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 3rem;
  }

  .icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 3rem;
  }

  .subtitle {
    justify-content: center;
    padding: 0px;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 0 0;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 95vw;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: flex-end;

  }

  #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 1.5rem;
    margin-left: 45px;

  }

  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }



  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    z-index: 999999;
    top: 17.5vh;
    right: 0;
    width: 45vw;
    height: 83vh;
    /* height: 80%; */
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}


@media (max-width: 657px) {
  .icons {

    display: flex;
    justify-content: flex-end;
    gap: 0 2rem;

  }
}

@media (max-width: 565px) {
  .icons {

    display: flex;
    justify-content: flex-end;
    gap: 0 1.5rem;

  }
}

@media (max-width:1000px) {
  #pesquisar {
    width: 100%;
    text-align: center;
    order: 1;
  }

  #logo-sportwave {
    margin-left: 0px;
  }

  #icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 3rem;
  }

  .icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 3rem;
  }

  #search {
    /* padding-left: 20px; */
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border-color: #32D0F2;
    border-style: solid;
    flex-shrink: 0;
  }

  #header {
    justify-content: space-between;

    flex-wrap: wrap;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 0 0;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 95vw;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }

    .nav-list {
      position: absolute;
      z-index: 999999;
      top: 17.5vh;
      right: 0;
      width: 45vw;
      height: 83vh;
      /* height: 80%; */
      background: #000000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    .mobile-menu {
      display: block;
    }
  }

  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

}

.profile {
  height: 36px;
  width: 36px;
}

.cart {
  height: 36px;
  width: 36px;
}

.heart {
  height: 35px;
  width: 35px;
}



.banner>img {
  width: 100%;
}

.wrapper {
  position: relative;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #000000;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0 10%; */
  text-align: center;
  background-color: #000000;
  height: 50px;
  max-width: 2000px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 7%;
  text-align: center;
  /* background-color: #000000; */
  height: 5px;
  width: 93vw;
  max-width: 2000px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

#navbar li {
  list-style: none;
  padding: 0 10px;
  position: relative;
  flex-shrink: 0;
}

#navbar li a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
  /* row-gap: 66px; */
}

#LOGO {
  width: 20vw;
  max-width: 250px;
  text-align: center;
  flex-shrink: 1;
  padding-left: 4rem;
}


#navbar li a:hover,
#navbar li a.active {
  color: #32D0F2;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #32D0F2;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 5%;
  padding-top: 3px;
}

#feature .fe-box>img {
  width: 230px;
  height: 210px;
  display: block;
}

.fe-box {
  border-bottom: 3px solid #32D0F2;

  border-top: 3px solid #32D0F2;
  /* padding-top: 1%; */
  padding: 20px 20px;
  margin: 0 10px;
  margin-top: 20px;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

.text-destaques {
  border-top: 1px solid #32D0F2;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  max-width: 2000px;
  font-size: 40px;
  height: 90px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #212121;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font-family: 'League Spartan';
  /* background-color: #1a1a1a; */
}

@media (max-width: 470px) {
  .product-grid {
    justify-content: center;
  }

  .titleroupas {
    width: auto;
    padding: 0;
    margin: 0%;
    /* display: flex; */
    justify-content: center;
  }

  .subtitle {
    /* width: 100vh; */
    width: 100%;
    padding: 0;
    margin: 0%;
    /* JA É DISPLAY FLEX */
    justify-content: center;
  }
}


@media (max-width: 657px) {
  .product-grid {
    justify-content: center;
  }

  #header {
    display: flex;
    flex-shrink: 1;
    /* flex-direction: column; */
  }

  #logo-sportwave {
    margin-left: 0;


    height: 80px;
    max-width: 250px;
    min-width: 10px;
    width: 100px !important;
    height: auto;
    width: 2vw;
    /* margin-right: rem; */
  }

  .profile {
    height: 20px;
    width: 20px;
    /* margin-left: 30px; */
    /* margin-right: 7rem; */
  }

  .cart {
    height: 20px;
    width: 20px;
    /* margin-right: 60px; */
  }

  .heart {
    height: 19px;
    width: 19px;
    /* margin-right: 60px; */
  }

  .icons {
    align-items: center;
  }

  .titleroupas {
    width: auto;
    padding: 0;
    margin: 0%;
    /* display: flex; */
    justify-content: center;
  }

  .subtitle {
    /* width: 100vh; */
    width: 100%;
    padding: 0;
    margin: 0%;
    /* JA É DISPLAY FLEX */
    justify-content: center;
  }
}

@media (max-width:1000px) {
  #pesquisar {
    width: 100%;
    text-align: center;
    order: 1;
  }

  #logo-sportwave {
    margin-left: 0px;
  }

  #icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 3rem;
  }

  .icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 3rem;
  }

  #search {
    /* padding-left: 20px; */
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border-color: #32D0F2;
    border-style: solid;
    flex-shrink: 0;
    order: 1;
  }

  .subtitle {
    justify-content: center;
    padding: 0px;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 0 0;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 95vw;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: flex-end;

  }

  #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 3rem;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }



  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    z-index: 999999;
    top: 17.5vh;
    right: 0;
    width: 45vw;
    height: 83vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 600px) {


  footer {
    justify-content: center;
  }

  footer .col {
    align-items: flex-start;
  }

  .wrapper {
    justify-content: center;
  }
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #464545;

}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #464545;
  max-width: 2000px;
  font-family: 'League Spartan';

}

footer .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

}


footer .logo-footer {
  margin-bottom: 30px;
  width: 227px;
  height: 106px;
}

footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #0AA1CB;
  font-family: 'League Spartan';

}

footer p {
  font-size: 13px;
  margin: 0 0 0px 0;
  color: #fff;
  font-family: 'League Spartan';
}

footer a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'League Spartan';

}

footer .copyright {
  width: 100%;
  text-align: center;
  font-family: 'League Spartan';

}

footer .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 25px;
}

strong {
  font-weight: bolder;
  font-family: 'Montserrat';
}


h2 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font-family: 'League Spartan';

}

.wrapper {
  position: relative;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.text-destaques {
  border-top: 1px solid #32D0F2;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  max-width: 2000px;
  font-size: 40px;
  height: 90px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #212121;
  justify-content: center;
}

@media (max-width: 657px) {
  .product-grid {
    justify-content: center;
  }

  #header {
    display: flex;
    flex-shrink: 1;
    /* flex-direction: column; */
  }

  #logo-sportwave {
    margin-left: 0;


    height: 80px;
    max-width: 250px;
    min-width: 10px;
    width: 100px !important;
    height: auto;
    width: 2vw;
    /* margin-right: rem; */
  }

  .profile {
    height: 20px;
    width: 20px;
    /* margin-left: 30px; */
    /* margin-right: 7rem; */
  }

  .cart {
    height: 20px;
    width: 20px;
    /* margin-right: 60px; */
  }

  .heart {
    height: 19px;
    width: 19px;
    /* margin-right: 60px; */
  }

  .icons {
    align-items: center;
  }

  .titleroupas {
    width: auto;
    padding: 0;
    margin: 0%;
    /* display: flex; */
    justify-content: center;
  }

  .subtitle {
    /* width: 100vh; */
    width: 100%;
    padding: 0;
    margin: 0%;
    /* JA É DISPLAY FLEX */
    justify-content: center;
  }
}


@media (max-width:1000px) {
  #pesquisar {
    width: 100%;
    text-align: center;
    order: 1;
  }

  #logo-sportwave {
    margin-left: 0px;
  }

  #icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 3rem;
  }

  .icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 1.5rem;
  }

  .subtitle {
    justify-content: center;
    padding: 0px;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 0 0;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 95vw;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: flex-end;

  }

  #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }



  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    z-index: 999999;
    top: 17.5vh;
    right: 0;
    width: 45vw;
    height: 83vh;
    /* height: 80%; */
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}



@media (max-width:1000px) {
  #pesquisar {
    width: 100%;
    text-align: center;
    order: 1;
  }

  #logo-sportwave {
    margin-left: 0px;
  }

  .icons {
    /* margin-right: 40px; */
    display: flex;
    justify-content: flex-end;
    gap: 0 1.5rem;
    margin-left: 45px;
  }

  #search {
    /* padding-left: 20px; */
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border-color: #32D0F2;
    border-style: solid;
    flex-shrink: 0;
  }

  #header {
    justify-content: space-between;

    flex-wrap: wrap;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 0 0;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 95vw;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }

    .nav-list {
      position: absolute;
      z-index: 999999;
      top: 17.5vh;
      right: 0;
      width: 45vw;
      height: 83vh;
      /* height: 80%; */
      background: #000000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    .mobile-menu {
      display: block;
    }
  }

  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

}


#logo-sportwave {
  height: 80px;
  max-width: 250px;
  min-width: 250px;
  width: 20vw;

}


.profile {
  height: 36px;
  width: 36px;
}

.cart {
  height: 36px;
  width: 36px;
}

.heart {
  height: 35px;
  width: 35px;
}


@media (max-width: 657px) {
  .product-grid {
    justify-content: center;
  }

  #header {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    min-width: 635px;
    height: 190px;
    padding-left: 0rem;
  }

  #logo-sportwave {
    min-width: 200px;
    width: 100px !important;
    height: auto;
    width: 2vw;
  }

  .profile {
    height: 45px;
    width: 27px;
  }

  .cart {
    height: 45px;
    width: 27px;
  }

  .heart {
    height: 45px;
    width: 27px;
  }

  .icons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 0 1.5rem;
    margin-left: 45px;
  }

  .titleroupas {
    width: auto;
    padding: 0;
    margin: 0%;
    /* display: flex; */
    justify-content: center;
  }

  .subtitle {
    /* width: 100vh; */
    width: 100%;
    padding: 0;
    margin: 0%;
    /* JA É DISPLAY FLEX */
    justify-content: center;
  }
}


@media (max-width:1000px) {
  #pesquisar {
    width: 100%;
    text-align: center;
    order: 1;
  }

  #logo-sportwave {
    margin-left: 2rem;
  }

  #icons {
    display: flex;
    justify-content: flex-end;
    gap: 0 1.5rem;
    margin-left: 45px;
  }

  #search {
    height: 60px;
    max-width: 80%;
    border-radius: 10px;
    border-color: #32D0F2;
    border-style: solid;
    flex-shrink: 0;
    order: 1;
  }

  .subtitle {
    justify-content: center;
    padding: 0px;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 0 0;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 95vw;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: flex-end;

  }

  #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 795px;
    height: 190px;
    padding-left: 0rem;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }



  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    z-index: 999999;
    top: 17.5vh;
    right: 0;
    width: 45vw;
    height: 83vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 600px) {


  footer {
    justify-content: center;
  }

  footer .col {
    align-items: flex-start;
  }

  .wrapper {
    justify-content: center;
  }
}


@media (max-width: 657px) {
  .icons {

    display: flex;
    justify-content: flex-end;
    gap: 0 2rem;

  }
}

@media (max-width: 565px) {
  .icons {

    display: flex;
    justify-content: flex-end;
    gap: 0 1.5rem;

  }
}


@media (max-width:600px) {
  #pesquisar {
    width: 100%;
    text-align: center;
    order: 1;
  }

  #logo-sportwave {
    margin-left: 0rem;
  }

  #icons {
    display: flex;
    justify-content: flex-end;
    gap: 0 1.5rem;
    margin-left: 45px;
  }

  #search {
    height: 60px;
    max-width: 65%;
    margin-right: 30px;
    margin-left: 20px;
    border-radius: 10px;
    border-color: #32D0F2;
    border-style: solid;
    flex-shrink: 0;
    order: 1;
  }

  #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    min-width: 795px;
    height: 190px;
    padding-left: 0rem;
  }

}


/* a {
	cursor: pointer;
  transition: all 200ms linear;
} */
a:hover {
  text-decoration: none;
}

.link {
  color: #C1C1C1;
}

.link:hover {
  color: #FFFFFF;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

h6 #L {
  padding-right: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

h6 #R {
  padding-left: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #C1C1C1;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #0FB6E4;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked+label:before {
  transform: translateX(44px) rotate(-270deg);
}

/* SIZE HERE */
.card-3d-wrap {
  position: relative;
  width: 570px;
  max-width: 100%;
  height: 480px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg'); */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid white !important;
  ;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 700;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  outline: none;
  color: #043b75;
  background-color: #FFFFFF;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #043b75;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

input {
  display: flex;
}

/* .form-group input {
  width: 70%;
} */
.form-group input:-ms-input-placeholder {
  color: #9694a1;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 20 0ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #0FB6E4;
  color: #FFFFFF;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2);
}

.btn:active,
.btn:focus {
  background-color: #FFFFFF;
  color: #0FB6E4;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.btn:hover {
  background-color: #FFFFFF;
  color: #0FB6E4;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.wave {
  margin-top: 15%;
  height: 6rem;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
}

.visivel {
  display: none;
}






.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.video-foreground video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: videoBackground 20s linear infinite;
}

@keyframes videoBackground {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: inherit;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  padding-bottom: 2rem;
}

#joo {
  position: relative;
  z-index: 111111111111111111;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 2rem;
  height: 102px;
}

header,
nav,
footer {
  position: relative;
  z-index: 9999;
}


.containercompras {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -120px;
  padding-right: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 200px;
}

.itens {
  align-self: flex-end;
}

.select-image {
  max-width: 400px;
  border: 1px solid #CECECE;
}

.select-image img {
  width: 100%;
  border-radius: 10px;
  padding-left: 15px;
}

@media (max-width: 762px) {
  .container {
    flex-direction: column;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .itens {
    align-self: center;
    margin-top: 6rem;
  }
}

.thumbnails {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  gap: 10px;
}

.thumbnail img {
  width: 100%;
  border-radius: 10px;
}

.right-side {
  margin-left: 100px;
  width: 100%;
  margin-bottom: 285px;
  margin-top: 100px;
}

.nome-produto {
  font-size: 25px;
}

.desconto {
  color: #8C8C8C;
  font-size: 25px;
}

.parcelar {
  font-size: 25px;
}

.valor-produto {
  font-size: 50px;
  font-weight: 600;
}

.btns {
  margin-top: 20px;
}

.add-carrinho p {
  font-size: 20px;
  font-weight: 600;
}

.comprar p {
  font-size: 25px;
  font-weight: 600;
}

.comprar {
  background: #14db1e;
  width: 50%;
  border-radius: 10px;
  min-width: 150px;
  height: 70px;
  color: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  font-size: 30px;
}

.comprar:hover {
  background: #0e6d0e;
  color: #fff;
  border: 1px solid #eee;
  /* border-radius: 20px; */
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

.add-carrinho {
  background: #30c4e6;
  margin-top: 15px;
  width: 50%;
  min-width: 150px;
  height: 70px;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  font-size: 30px;
}

.add-carrinho:hover {
  background: #0fa7d1;
  color: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

.descricao {
  max-width: 450px;
  margin-top: 30px;
}


.container {
  max-width: 960px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.mb-4 {
  margin-bottom: 3rem !important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #32D0F2;
  --bs-btn-border-color: #32D0F2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0AA1CB;
  --bs-btn-hover-border-color: #0AA1CB;
}

.form-check-input:checked {
  background-color: #0AA1CB;
  border-color: #32D0F2;
}

.text-primary {
  --bs-text-opacity: 1;
  color: #32D0F2 !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #32D0F2 !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid #32D0F2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-tertiary-bg);
  border: #32D0F2 solid 1px;
  border-radius: var(--bs-border-radius);
}

.form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: #32D0F2 solid 1px;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.list-group {
  border: #32D0F2 solid 1px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  text-decoration: none;
  background-color: var(--bs-list-group-bg);
  border: #32D0F2 solid 1px;
}

.text-destaques {
  font-style: normal;
  font-weight: 600;
  height: 60px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #212121;
  justify-content: center;
}


.containercompras {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -120px;
  padding-right: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 200px;
}

.itens {
  align-self: flex-end;
}

.select-image {
  max-width: 400px;
  border: 1px solid #CECECE;
}

.select-image img {
  width: 100%;
  border-radius: 10px;
  padding-left: 15px;
}

@media (max-width: 762px) {
  .container {
    flex-direction: column;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .itens {
    align-self: center;
    margin-top: 6rem;
  }
}

.thumbnails {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  gap: 10px;
}

.thumbnail img {
  width: 100%;
  border-radius: 10px;
}

.right-side {
  margin-left: 100px;
  width: 100%;
  margin-bottom: 285px;
  margin-top: 100px;
}

.nome-produto {
  font-size: 25px;
}

#nome-produto {
  font-size: 25px;
    color: black;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 600;
    align-items: center;
    display: flex;
    padding-top: 5px;
    justify-content: flex-start;
    font-size: 40px;
    text-shadow: 0 0 white;
}

.desconto {
  color: #8C8C8C;
  font-size: 25px;
}

#desconto {
  color: #8C8C8C;
  font-size: 25px;
}

.parcelar {
  font-size: 25px;
}

.valor-produto {
  font-size: 50px;
  font-weight: 600;
}

#valor-produto {
  font-size: 50px;
  font-weight: 600;
}

.btns {
  margin-top: 20px;
}

.add-carrinho p {
  font-size: 19px;
  font-weight: 600;
}

.comprar p {
  font-size: 25px;
  font-weight: 600;
}

.comprar {
  background: #14db1e;
  width: 50%;
  border-radius: 10px;
  min-width: 150px;
  height: 70px;
  color: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  font-size: 30px;
}

.comprar:hover {
  background: #0e6d0e;
  color: #fff;
  border: 1px solid #eee;
  /* border-radius: 20px; */
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

.add-carrinho {
  background: #30c4e6;
  margin-top: 15px;
  width: 50%;
  min-width: 150px;
  height: 70px;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  font-size: 30px;
}

.add-carrinho:hover {
  background: #0fa7d1;
  color: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

.descricaoP {
  max-width: 450px;
  margin-top: 30px;
}

#descricao {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    font-family: 'League Spartan';
}

#add-carrinho {
  display: flex;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  align-content: center;
}


#comprar {
    display: flex;
    padding-top: 12px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ac {
  color: white;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}