<section class="wrapper">
    <div class="containercompras">
        <div class="left-side">
            <div class="itens">

                <!-- foto principal do produto -->
                <div class="select-image">
                    <img src="/img/volei-penalty.jpg">
                </div>
            </div>
        </div>

        <div class="right-side">

            <!-- nome do produto -->
            <div class="nome-produto">
                <h1 id="nome-produto">Bola de Vôlei Penalty 6.0</h1>
            </div>

            <!-- avaliações - estrelas -->
            <!-- <div class="stars">
                <svg id='svg2' width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#F2BD00" />
                </svg>
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#F2BD00" />
                </svg>
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#F2BD00" />
                </svg>
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#F2BD00" />
                </svg>
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#D9D9D9" />
                </svg>
            </div> -->

            <!-- desconto do produto -->
            <div class="desconto">

                <h4 id="desconto"><s>R$399,99</s></h4>
            </div>

            <!-- preço do produto -->
            <div class="valor-produto">
                <span id="valor-produto">R$ 299,99</span>
            </div>

            <!-- parcelamento -->
            <div class="parcelar">
                <h6 id="parcelar">ou 4x de R$75,00 sem juros</h6>
            </div>

            <!-- botões -->
            <div class="btns">
                <button class="comprar"><p id="comprar">COMPRAR</p></button>

                <button class="add-carrinho"><p id="add-carrinho">Adicionar ao carrinho</p></button>
            </div>

            <!-- descrição -->
            <div class="descricao">
                <h2 id="descricao">Descrição</h2>
                <p id="descricaoP">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
</section>